@view-transition {
  navigation: auto;
}

body {
  margin: 0;
}

header {
  height: 50px;
  border-bottom: 1px solid #000;
  display: grid;
  place-items: center;
}

header h1 {
  margin: 0;
  font-size: 1rem;

}