@view-transition {
  navigation: auto;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
}

header {
  height: 50px;
  border-bottom: 1px solid light-dark(black, white);
  display: grid;
  place-items: center;
}

header h1 {
  margin: 0;
  font-size: 1rem;

}